[Unit]
Description=Trash Detection YOLO Node
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/trash_detection/raspi
ExecStart=/home/pi/trash_detection/venv/bin/python detect.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
